<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navbar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Untitled Link</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class='nav navbar-nav'>
        <li>{{#link-to 'home'}}Home{{/link-to}}</li>
        <li>{{#link-to 'page1'}}Link 1{{/link-to}}</li>
        <li>{{#link-to 'page2'}}Link 2{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
